[submodule "FDFramework"]
	path = FDFramework
	url = https://github.com/MaddTheSane/FDFramework.git
[submodule "Quake2"]
	path = Quake2
	url = https://github.com/MaddTheSane/Quake2.git
[submodule "Quake"]
	path = Quake
	url = https://github.com/MaddTheSane/Quake.git
[submodule "Quake2-Xatrix"]
	path = Quake2-Xatrix
	url = https://github.com/MaddTheSane/Quake2-Xatrix.git
[submodule "Quake2-Rogue"]
	path = Quake2-Rogue
	url = https://github.com/MaddTheSane/Quake2-Rogue.git
[submodule "Quake2-Action"]
	path = Quake2-Action
	url = https://github.com/MaddTheSane/Quake2-Action.git
[submodule "TenebraeQuake"]
	path = TenebraeQuake
	url = https://github.com/MaddTheSane/TenebraeQuake.git
